<app-page-title></app-page-title>
@if (!ownUser) {
    <p>You are not signed in. Resetting your password incase you forgot it isn't supported on the beta website yet.</p>
}
@else if (!resetToken) {
    <p>Cannot change your password without a reset token. You should have received one in your email as part of the website URL.</p>
}
@else {
    <div class="flex flex-col gap-y-2">
        <app-textbox label="Enter your new password" [form]="form" ctrlName="upperPassword" [icon]="faKey"></app-textbox>
        <app-textbox label="Repeat your new password" [form]="form" ctrlName="lowerPassword" [icon]="faKey"></app-textbox>
    </div>

    @if (!isUpperPasswordSet || !isLowerPasswordSet) {
        <p class="text-emphasized-primary">Password must be at least 8 characters long!</p>
    }
    @else if (!isUpperPasswordSet || !isLowerPasswordSet) {
        <p class="text-emphasized-primary">Passwords do not match!</p>
    }

    <app-button text="Change password!" [icon]="faKey" color="bg-primary" [enabled]="arePasswordsSet && doPasswordsMatch" (click)="resetPassword()"></app-button>

}
<app-router-link class="mt-4" routerLink="/settings/account">Go to account settings</app-router-link>
