<app-page-title></app-page-title>
<div class="flex flex-col gap-y-2 pt-2">
    @if (!ownUser && !resetToken) {
        <p>You are not signed in and there is also no Reset Token specified, so you can't reset your password.</p>
        <br>
        <p>
            If you forgot your password and can't sign in, enter your email address here and we will send you an email,
            which will contain a URL with the Reset Token:
        </p>
        <app-textbox label="Enter your email address" [form]="form" ctrlName="forgorPasswordEmail" [icon]="faEnvelope" (change)="checkForgorPasswordEmailChanges()"></app-textbox>
        <app-button text="Send email!" [icon]="faKey" color="bg-primary" [enabled]="isForgorPasswordEmailSet" (click)="sendPasswordResetEmail()"></app-button>
    }
    @else {
        <div class="flex flex-col gap-y-2">
            <app-textbox label="Enter your new password" [form]="form" ctrlName="upperPassword" [icon]="faKey" (change)="checkUpperPasswordChanges()"></app-textbox>
            <app-textbox label="Repeat your new password" [form]="form" ctrlName="lowerPassword" [icon]="faKey" (change)="checkLowerPasswordChanges()"></app-textbox>
        </div>

        @if (!isUpperPasswordSet || !isLowerPasswordSet) {
            <p class="text-emphasized-primary">Password must be at least 8 characters long!</p>
        }
        @else if (!doPasswordsMatch) {
            <p class="text-emphasized-primary">Passwords do not match!</p>
        }

        <app-button text="Change password!" [icon]="faKey" color="bg-primary" [enabled]="arePasswordsSet && doPasswordsMatch" (click)="resetPassword()"></app-button>
    }

    @if (ownUser) {
        <app-router-link class="mt-4" routerLink="/settings/account">Go to account settings</app-router-link>
    }
</div>

