@if (user) {
    <app-fancy-header [title]="user.username"
                      [description]="user.description | default: user.username + ' hasn\'t introduced themselves yet.'">
        <app-user-avatar [user]="user" [size]="(layout.isMobile | async) ? 90 : 176" avatar></app-user-avatar>
        <ng-container titleSubtext>
            Joined
            <app-date [date]="user.joinDate"></app-date>
            <br>
        </ng-container>
        <ng-container belowTitle>
            <app-user-status [activeRoom]="user.activeRoom" [lastSeen]="user.lastLoginDate"></app-user-status>
        </ng-container>
        <app-user-statistics [stats]="user.statistics" statistics></app-user-statistics>
    </app-fancy-header>

    <app-two-pane-layout>
        <app-container class="w-full">
            <app-pane-title>
                <a [routerLink]="'/u/' + user.userId + '/comments'">
                    Comments
                </a>
                <span class="text-sm italic text-gentle text-base">({{this.totalCommentCount}} in total)</span>
            </app-pane-title>
            <app-divider></app-divider>
            <app-comment-preview-list [ownUser]="ownUser" [profile]="user" (totalCount)="setTotalCommentCount($event)"></app-comment-preview-list>
        </app-container>
        <app-container class="w-full">
            <app-pane-title>
                <a [routerLink]="'/u/' + user.userId +'/photos'">
                    Photos
                </a>
            </app-pane-title>
            <app-divider></app-divider>
            <p>Coming soon</p>
        </app-container>
    </app-two-pane-layout>
}
