@if (user) {
    <app-fancy-header [title]="user.username"
                      [description]="user.description | default: user.username + ' hasn\'t introduced themselves yet.'">
        <app-user-avatar [user]="user" [size]="(layout.isMobile | async) ? 90 : 176" avatar></app-user-avatar>
        <ng-container titleSubtext>
            Joined
            <app-date [date]="user.joinDate"></app-date>
            <br>
        </ng-container>
        <ng-container belowTitle>
            <app-user-status [activeRoom]="user.activeRoom" [lastSeen]="user.lastLoginDate"></app-user-status>
        </ng-container>
        <app-user-statistics [stats]="user.statistics" statistics></app-user-statistics>
    </app-fancy-header>
    
    <app-two-pane-layout>
        <app-container class="w-full">
            <app-pane-title>
                <a routerLink="/levels/byUser" [queryParams]="{u: user.username}">
                    Published Levels
                </a>
            </app-pane-title>
            <app-divider></app-divider>
            @if (publishedLevels) {
                <div class="flex flex-col gap-y-1">
                @for (level of this.publishedLevels; track level.levelId) {
                    <app-dark-container class="block mt-1.5">
                        <app-level-preview [level]="level"></app-level-preview>
                    </app-dark-container>
                }
                </div>
            }
            @else {
                <p class="italic">{{this.publishedLevelsPlaceholderText}}</p>
            }
        </app-container>

        <app-container class="w-full">
            <app-pane-title>
                <a routerLink="/levels/hearted" [queryParams]="{u: user.username}">
                    Hearted Levels
                </a>
            </app-pane-title>
            <app-divider></app-divider>
            @if (heartedLevels) {
                <div class="flex flex-col gap-y-1">
                @for (level of this.heartedLevels; track level.levelId) {
                    <app-dark-container class="block mt-1.5">
                        <app-level-preview [level]="level"></app-level-preview>
                    </app-dark-container>
                }
                </div>
            }
            @else {
                <p class="italic">{{this.heartedLevelsPlaceholderText}}</p>
            }
        </app-container>
    </app-two-pane-layout>
}
